body {
	margin: 0;
	padding: 0;
}

main {
	height: 1200px;
	background-color: #b7b7b7;
	padding-top: 80px;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #000000;
	align-items: center;
	position: fixed;
    z-index: 1;
	width: 100%;
}

.logo-image {

}

.logo-image-wrapper {
    margin-left: 5px;
    position: relative;
}

.image-dot {
    height: 3px;
    position: absolute;
    width: 3px;
    border-radius: 50%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.blue-dot {
    top: 17px;
    left: 64px;
    background-color: #0000ff;
    animation-name: blueanimation;
}

@keyframes blueanimation {
    0%   {background-color: #0000ff;}
    50%  {background-color: #000099;}
    100% {background-color: #0000ff;}
}

.red-dot {
    top: 17px;
    left: 71px;
    background-color: #ff0000;
    animation-name: redanimation;
}

@keyframes redanimation {
    0%   {background-color: #ff0000;}
    50%  {background-color: #990000;}
    100% {background-color: #ff0000;}
}

.white-dot {
    top: 13px;
    left: 67px;
    background-color: #ffffff;
    animation-name: whiteanimation;
}


@keyframes whiteanimation {
    0%   {background-color: #ffffff;}
    50%  {background-color: #b0b0b0;}
    100% {background-color: #ffffff;}
}

.date {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socials {
	margin-right: 5px;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
	font-family: sans-serif;
	padding: 10px 0;
}

.header-bottom-border-wrapper {
    z-index: 1;
    position: fixed;
    top: 67px;
    width: 100%;
    background-color: #b7b7b7;
    height: 5px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #616161;
}

.header-bottom-border {
	height: 5px;
	width: 99%;
	border-radius: 50px;
	background-color: #dedede;
}

img {
	cursor: pointer;
}

nav {
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-top: 3px solid #292929;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 200ms;
}

.nav-item:hover {
    background-color: #cdcdcd;
}

.nav-item-active {
    background-color: #000000;
    color: #ffffff;
}

.nav-item-active:hover {
    background-color: #272727;
}

.breaking-news-wrapper {
    display: flex;
}

.breaking-news-title {
    background: #ef3224;
    height: 55px;
    position: relative;
    width: 150px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.breaking-news-title:before {
    border-bottom: 35px solid #ef3224;
    border-left: 27px solid transparent;
    border-right: 28px solid transparent;
    content: "";
    height: 0;
    left: 140px;
    position: absolute;
    top: 10px;
    transform: rotate(90deg);
    width: 0;
}

.breaking-news-message {
    background-color: #fecb00;
    flex: 1;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 70px;
}
